/* uview-plus 主题色 */
$u-primary: #007AFF;
$u-success: #07c160;
$u-warning: #ff9900;
$u-error: #ee0a24;
$u-info: #909399;

/* uview-plus 自定义样式 */
$u-border-color: #e4e7ed;
$u-tips-color: #909399;
$u-content-color: #333333;
$u-tips-color: #999999;